In [1]:
import numpy as np
import pandas as pd

In [2]:
users = {"Angelica": {"Blues Traveler": 3.5, "Broken Bells": 2.0,
                      "Norah Jones": 4.5, "Phoenix": 5.0,
                      "Slightly Stoopid": 1.5,
                      "The Strokes": 2.5, "Vampire Weekend": 2.0},

         "Bill": {"Blues Traveler": 2.0, "Broken Bells": 3.5,
                  "Deadmau5": 4.0, "Phoenix": 2.0,
                  "Slightly Stoopid": 3.5, "Vampire Weekend": 3.0},

         "Chan": {"Blues Traveler": 5.0, "Broken Bells": 1.0,
                  "Deadmau5": 1.0, "Norah Jones": 3.0, "Phoenix": 5,
                  "Slightly Stoopid": 1.0},

         "Dan": {"Blues Traveler": 3.0, "Broken Bells": 4.0,
                 "Deadmau5": 4.5, "Phoenix": 3.0,
                 "Slightly Stoopid": 4.5, "The Strokes": 4.0,
                 "Vampire Weekend": 2.0},

         "Hailey": {"Broken Bells": 4.0, "Deadmau5": 1.0,
                    "Norah Jones": 4.0, "The Strokes": 4.0,
                    "Vampire Weekend": 1.0},

         "Jordyn":  {"Broken Bells": 4.5, "Deadmau5": 4.0,
                     "Norah Jones": 5.0, "Phoenix": 5.0,
                     "Slightly Stoopid": 4.5, "The Strokes": 4.0,
                     "Vampire Weekend": 4.0},

         "Sam": {"Blues Traveler": 5.0, "Broken Bells": 2.0,
                 "Norah Jones": 3.0, "Phoenix": 5.0,
                 "Slightly Stoopid": 4.0, "The Strokes": 5.0},

         "Veronica": {"Blues Traveler": 3.0, "Norah Jones": 5.0,
                      "Phoenix": 4.0, "Slightly Stoopid": 2.5,
                      "The Strokes": 3.0}
         }

In [3]:
data = pd.DataFrame(users)
data.head()

                Angelica  Bill  Chan  Dan  Hailey  Jordyn  Sam  Veronica
Blues Traveler       3.5   2.0   5.0  3.0     NaN     NaN  5.0       3.0
Broken Bells         2.0   3.5   1.0  4.0     4.0     4.5  2.0       NaN
Deadmau5             NaN   4.0   1.0  4.5     1.0     4.0  NaN       NaN
Norah Jones          4.5   NaN   3.0  NaN     4.0     5.0  3.0       5.0
Phoenix              5.0   2.0   5.0  3.0     NaN     5.0  5.0       4.0

In [8]:
data.fillna(0,inplace=True)
data.head()

                Angelica  Bill  Chan  Dan  Hailey  Jordyn  Sam  Veronica
Blues Traveler       3.5   2.0   5.0  3.0     0.0     0.0  5.0       3.0
Broken Bells         2.0   3.5   1.0  4.0     4.0     4.5  2.0       0.0
Deadmau5             0.0   4.0   1.0  4.5     1.0     4.0  0.0       0.0
Norah Jones          4.5   0.0   3.0  0.0     4.0     5.0  3.0       5.0
Phoenix              5.0   2.0   5.0  3.0     0.0     5.0  5.0       4.0

17.0

In [17]:
# calculating user distance
def manhattan(user1,user2):
    mDistance = np.absolute(np.sum(data[user1] - data[user2]))
    return mDistance

In [18]:
manhattan('Angelica','Bill')

3.0

In [33]:
# function to sort and return
def computeNearestDistance(username):
    distance = []
    for user in data.columns:
        if user != username:
            distance.append(manhattan(username,user))
    return distance

In [34]:
computeNearestDistance('Angelica')

[0.0, 3.0, 5.0, 4.0, 7.0, 10.0, 3.0, 3.5]