In [1]:
import numpy as np
import pandas as pd

In [74]:
users = {"Angelica": {"Blues Traveler": 3.5, "Broken Bells": 2.0,
                      "Norah Jones": 4.5, "Phoenix": 5.0,
                      "Slightly Stoopid": 1.5,
                      "The Strokes": 2.5, "Vampire Weekend": 2.0},

         "Bill": {"Blues Traveler": 2.0, "Broken Bells": 3.5,
                  "Deadmau5": 4.0, "Phoenix": 2.0,
                  "Slightly Stoopid": 3.5, "Vampire Weekend": 3.0},

         "Chan": {"Blues Traveler": 5.0, "Broken Bells": 1.0,
                  "Deadmau5": 1.0, "Norah Jones": 3.0, "Phoenix": 5,
                  "Slightly Stoopid": 1.0},

         "Dan": {"Blues Traveler": 3.0, "Broken Bells": 4.0,
                 "Deadmau5": 4.5, "Phoenix": 3.0,
                 "Slightly Stoopid": 4.5, "The Strokes": 4.0,
                 "Vampire Weekend": 2.0},

         "Hailey": {"Broken Bells": 4.0, "Deadmau5": 1.0,
                    "Norah Jones": 4.0, "The Strokes": 4.0,
                    "Vampire Weekend": 1.0},

         "Jordyn":  {"Broken Bells": 4.5, "Deadmau5": 4.0,
                     "Norah Jones": 5.0, "Phoenix": 5.0,
                     "Slightly Stoopid": 4.5, "The Strokes": 4.0,
                     "Vampire Weekend": 4.0},

         "Sam": {"Blues Traveler": 5.0, "Broken Bells": 2.0,
                 "Norah Jones": 3.0, "Phoenix": 5.0,
                 "Slightly Stoopid": 4.0, "The Strokes": 5.0},

         "Veronica": {"Blues Traveler": 3.0, "Norah Jones": 5.0,
                      "Phoenix": 4.0, "Slightly Stoopid": 2.5,
                      "The Strokes": 3.0}
         }

In [75]:
data = pd.DataFrame(users)
data

                  Angelica  Bill  Chan  Dan  Hailey  Jordyn  Sam  Veronica
Blues Traveler         3.5   2.0   5.0  3.0     NaN     NaN  5.0       3.0
Broken Bells           2.0   3.5   1.0  4.0     4.0     4.5  2.0       NaN
Deadmau5               NaN   4.0   1.0  4.5     1.0     4.0  NaN       NaN
Norah Jones            4.5   NaN   3.0  NaN     4.0     5.0  3.0       5.0
Phoenix                5.0   2.0   5.0  3.0     NaN     5.0  5.0       4.0
Slightly Stoopid       1.5   3.5   1.0  4.5     NaN     4.5  4.0       2.5
The Strokes            2.5   NaN   NaN  4.0     4.0     4.0  5.0       3.0
Vampire Weekend        2.0   3.0   NaN  2.0     1.0     4.0  NaN       NaN

In [76]:
# data.fillna(0,inplace=True)
# data.head()

In [93]:
# calculating user distance
def manhattan(user1,user2):
    mDistance = np.sum(np.abs(data[user1] - data[user2]))
    return (mDistance,user2)

In [94]:
manhattan('Angelica','Bill')

(9.0, 'Bill')

In [86]:
# function to sort and return
def computeNearestDistance(username,dataset):
    distance = []
    for user in dataset.columns:
        if user != username:
            distance.append(manhattan(username,user))
    distance.sort()
    return distance

In [88]:
computeNearestDistance('Hailey',data)

[(2.0, 'Veronica'),
 (4.0, 'Chan'),
 (4.0, 'Sam'),
 (4.5, 'Dan'),
 (5.0, 'Angelica'),
 (5.5, 'Bill'),
 (7.5, 'Jordyn')]